<div class="my-5">
	<h1 class="text-center mb-5">교수목록</h1>
	<div class="text-end">
		<a href="/pro/insert" class="btn btn-primary px-5">교수등록</a>
	</div>
	<hr>
	<did id="div_pro"></did>
</div>
<script id="temp_pro" type="x-handlebars-template">
	<table class="table">
		{{#each .}}
		<tr>
			<td>{{pcode}}</td>
			<td>{{pname}}<td>
			<td>{{dept}}</td>
			<td>{{title}}</td>
			<td>{{fmtdate}}</td>
			<td class="text-end">{{fmtsalary}}원</td>	
		</tr>	
		{{/each}}
	</table>	
</script>
<script>
	getList();
	function getList(){
		$.ajax({
			type:"get",
			url:"/pro/list.json",
			success:function(data){
				const temp=Handlebars.compile($("#temp_pro").html());
				$("#div_pro").html(temp(data));	
			}
		});
	}
</script>